@font-face {
  font-family: 'louis-geoge-cafe';
  src: url('/fonts/louis-geoge-cafe/LouisGeorgeCafeBoldItalic.ttf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'louis-geoge-cafe';
  src: url('/fonts/louis-geoge-cafe/LouisGeorgeCafeBold.ttf') format('opentype');
  font-weight: bold;
  font-style: initial;
}
@font-face {
  font-family: 'louis-geoge-cafe';
  src: url('/fonts/louis-geoge-cafe/LouisGeorgeCafeItalic.ttf') format('opentype');
  font-weight: initial;
  font-style: italic;
}
@font-face {
  font-family: 'louis-geoge-cafe';
  src: url('/fonts/louis-geoge-cafe/LouisGeorgeCafeLight.ttf') format('opentype');
  font-weight: lighter;
  font-style: initial;
}
@font-face {
  font-family: 'louis-geoge-cafe';
  src: url('/fonts/louis-geoge-cafe/LouisGeorgeCafeLightItalic.ttf') format('opentype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'louis-geoge-cafe';
  src: url('/fonts/louis-geoge-cafe/LouisGeorgeCafe.ttf') format('opentype');
  font-weight: initial;
  font-style: initial;
}
